{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block monTitre %}Test mon site!{% endblock %}

{% block body %}

{% for player in players %}

<div>
    <a href="{{ path('afficher', {'nom' : player.nom|lower}) }}">{{player.nom}}</a>
    {{player.prenom}} 
    {{player.sexe}}
    {{player.carac.intel}}
    {{player.carac.force}}
    {{player.carac.agi}}
</div>

{% endfor %}

{% endblock %}