{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block monTitre %}Test mon site!{% endblock %}

{% block body %}

<h1> Salut {{ perso.nom }} </h1>

<div>{{perso.prenom}}</div>
<div>{{perso.sexe}}</div>
<div>{{perso.carac.intel}}</div>
<div>{{perso.carac.force}}</div>
<div>{{perso.carac.agi}}</div>

{% endblock %}