{% extends 'base.html.twig' %}

{% block title %}Ajout figure{% endblock %}

{% block body %}
    <div class="container">
        
        <h1 class="titreform">Ajouter une figure</h1>
    
        {{ form_start(form) }}
        <div class="form-group">
            {{form_row(form.nomFigure, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la figure'}, "label":"Nom de la figure"})}}
        </div>

        <div class="form-group">
            {{form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}, "label":"Description de la figure"})}}
        </div>
        
        <div class="form-group">
            {{form_row(form.imageFile, {'attr': {'class': 'form-control', 'placeholder': 'Ajouter image à la une'}, "label":"Image à la une"})}}
        </div>

        <div class="form-group">
            {{form_row(form.groupe, {'attr': {'class': 'form-control'}, "label":"Groupe de la figure"})}}
        </div>

        <div class="form-group">
            {{form_row(form.image, {'attr': {'class': 'form-control', 'placeholder' : 'Ajouter une ou plusieurs images'}, "label":"Image de la figure"})}}
        </div>

        <button type="submit" class="btn btn-primary">Ajouter une figure</button>
        {{ form_end(form) }}
    </div>    
{% endblock %}
