{% extends 'base.html.twig' %}

{% block title %}Modification de l'image{% endblock %}

{% block body %}
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-lg-12 col-sm-12 col-12">
            <h1 class="updateimagetop">Modifier l'image</h1>
            {% if figures.imageTop is not null %}
               <img src="{{asset('img/figure/' ~ figures.imageTop)}}" class="card-img-top imagetopsize" alt="figure_snowboard">
            {% else %}
               <img src="{{asset('img/figure/figuredefault.jpg')}}" class="card-img-top imagetopsize" alt="figure_snowboard">
            {% endif %}

            <div class="updateimageform">
               {{form_start(form)}}
                  {{form_widget(form)}}
                  <input type="submit" class="btn btn-primary" value="Modifier">
               {{form_end(form)}} 
            </div>
         </div>
      </div>
   </div>
{% endblock %}